<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <div></div>
    <ul>
      <% movies.forEach(movie => { %>
      <li>
        Title: <%= movie.title %> Year: <%= movie.year %> , Lenght: <%=
        movie.length_minutes %> min Director: <%= movie.director %>
      </li>
      <button>
        <a href="/<%= movie.id %>/update">Update</a>
      </button>

      <% }); %>
    </ul>
    <a href="/new">Add new movie</a>
  </body>
</html>
