<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <div></div>
    <ul>
      <% movies.forEach(movie => { %>
      <li>ID: <%= movie.id %>, Title: <%= movie.title %></li>
      <button>
        <a href="/<%= movie.id %>/update">Update</a>
      </button>

      <% }); %>
    </ul>
    <a href="/new">Add new movie</a>
  </body>
</html>
